body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

object {
	width: 100%;
	height: 100vh;
	border: none; /* Remove any default borders */
	display: block; /* Ensures the object is treated like a block-level element */
	margin: 0;
	padding: 0;
}
